#
# SPIRAM
#
CONFIG_SPIRAM_SPEED_80M=y

#
# SYSTEM
#
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

#
# ESP32S3 specific configuration
#

#
# USB OTG (Device Mode)
#
CONFIG_ESP_USB_OTG_SUPPORTED=y

#
# Camera specific for ESP32S3
#
CONFIG_CAMERA_CORE0_INPUT_DMA=y

#
# PSRAM
#
CONFIG_SPIRAM_MODE_OCT=y
